@import url("https://fonts.googleapis.com/css?family=Noto+Serif:700");

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.dream-part-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Noto Serif';
  background: rgba(24, 108, 32, 0.78);
  text-align: center;
  margin-top: 7%;

  width: 90%;
  height: 234px;
  border: 3px solid black
}

main {
  width: 700px;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dream-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.card {
  width: 200px;
  height: 180px;
  border: 5px solid black;
  margin: 10%;
  padding: 7px;
  text-align: center;
  font-size: 18.5px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(217, 217, 217, 0.72);
}

.card-tall {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  margin: 10%;
  padding: 7px;
  text-align: center;
  font-size: 18.5px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(217, 217, 217, 0.72);
}

.card-text {
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 50%;
  margin-top: 30px;
  
  font-size: 15px;
}

.previous, .next {
  width: 50%;
}